name: Build and push to docker

on:
  push:
    branches: [ main ]
    paths:
      - '/Dockerfile'
      - '/docker-compose*.yml'
      - '.github/workflows/docker-publish.yml'

env:
  DOCKERHUB_USERNAME: ${{ secrets.DOCKER_USERNAME }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push producer
      uses: docker/build-push-action@v4
      with:
        context: .
        dockerfile: dockerfile.producer
        push: true
        tags: |
          ${{ env.DOCKER_USERNAME }}/scm-producer:${{ github.run_number }}
          ${{ env.DOCKER_USERNAME }}/scm-producer:latest

    - name: Build and push consumer
      uses: docker/build-push-action@v4
      with:
        context: .
        dockerfile: dockerfile.consumer
        push: true
        tags: |
          ${{ env.DOCKER_USERNAME }}/scm-consumer:${{ github.run_number }}
          ${{ env.DOCKER_USERNAME }}/scm-consumer:latest

    - name: Build and push backend
      uses: docker/build-push-action@v4
      with:
        context: .
        dockerfile: Dockerfile.application
        push: true
        tags: |
          ${{ env.DOCKER_USERNAME }}/scm-backend:${{ github.run_number }}
          ${{ env.DOCKER_USERNAME }}/scm-backend:latest